# Panther is a Cloud-Native SIEM for the Modern Security Team.
# Copyright (C) 2020 Panther Labs Inc
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.

on:
  pull_request:
    branches:
      - master
    types:
      - closed

jobs:
  sync_prs_from_community_to_enterprise:
    name: Syncs merged PRs from Panther Community to Panther Enterprise
    runs-on: ubuntu-latest
    env:
      SOURCE_REPO_PATH: src
      DEST_REPO_PATH: dest
    steps:
      - name: Checkout Source Repo
        uses: actions/checkout@v2
        with:
          path: $SOURCE_REPO_PATH
          token: ${{ secrets.PR_SYNC_TOKEN }}
          fetch-depth: 10

      - name: Checkout Dest Repo
        uses: actions/checkout@v2
        with:
          path: $DEST_REPO_PATH
          token: ${{ secrets.PR_SYNC_TOKEN }}
          fetch-depth: 2
          repository: 3nvi/panther-enterprise

      - name: Check if PR was closed or merged
        if: ${{ github.event.pull_request.merged == false }}
        run: exit 1

      - name: Check if PR has ignore labels
        if: ${{ contains(github.event.pull_request.labels, 'enterprise-backport') }}
        run: exit 1

      - name: Create PR branch
        if: ${{ success() }}
        working-directory: $DEST_REPO_PATH
        run: |
          COMMIT_SHA = github.event.pull_request.merge_commit_sha || github.event.pull_request.head.sha;
          git checkout -b ${{ github.event.pull_request.head }}
          git remote add source https://github.com/$GITHUB_REPOSITORY.git}
          git cherry-pick $COMMIT_SHA
          git add -A .
          git commit -m "merge synced changes"
          git push origin ${{ github.event.pull_request.head }}

      - name: Monitor PRs on a Source Repo & Create PRs on a dest one
        if: ${{ success() }}
        uses: ./$SOURCE_REPO_PATH/build/actions/pr_sync
        id: pr_sync
        env:
          ACTIONS_STEP_DEBUG: ${{ secrets.ACTIONS_STEP_DEBUG }}
        with:
          destRepo: 3nvi/panther-enterprise
          token: ${{ secrets.PR_SYNC_TOKEN }}
